<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <title>Myseek</title>
  
  <!--jquery should be loaded before prototype, otherwise error will occur -->
  <script type="text/javascript" src="/javascripts/jquery-1.4.4.js"> </script>
  <script type="text/javascript" src="/javascripts/jquery-ui.min.js"> </script>
  <script type="text/javascript" src="/javascripts/jquery-ui-i18n.js"> </script>
  
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  </head>
  <body id="store">
    <%=render :partial=>"/layouts/site_header" %>
    <div id="banner">
    </div>
    
    <div id="columns">  
      <div id="side">
         <%@cats.each_with_index do |c, i|%>
		       <p id="cat-<%=c.id%>" class="ui-widget-header cat">
		         <%if c.id.to_s == params[:cat] || params[:cat].nil? && i == 0%>
		           <a href="/notes/classify?cat=<%= c.id%>"  class="current"><%= c.name%></a>
		         <%else%>
		           <a href="/notes/classify?cat=<%= c.id%>"><%= c.name%></a>
		         <%end%>
		       </p>
         <%end%>
      </div>
      
      <div id="main">
        <% if flash[:notice] -%>
          <div id="notice"> <%= flash[:notice]%> </div>
        <%  end -%>
        <%=yield :layout%>
      </div>
      
    </div>
  </body>
</html>

<style type="text/css">
#banner {
  background: #9c9 ;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282 ;
  text-align: center;
}

#columns {
  background: #141 ;
}

#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #141 ;
}

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom:2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

.list-small{
width: 300px;
}

a {
background-color: #dff0ed;
border: 1px solid #efe;
padding: 1px;
text-decoration: none;
}

.cat {
  margin-bottom: 4px;
}

.current{
  background-color: #deed1d;
}

div.item {
background-color: #9c9;
border: 1px solid #141;
cursor: pointer;
}

</style>

<script>
jQuery(function() {
	jQuery("#side p").droppable({
	  hoverClass: "ui-state-active",
		drop: function(event, ui) {
			jQuery(this).addClass( "ui-state-highlight" );
			var note_id = ui.draggable.attr("id").split("-")[1];
			var cat_id = jQuery(this).attr("id").split("-")[1];
			url = "/notes/" + note_id + "/update_cat";
			jQuery.post(url, {cat: cat_id});			
		}
	});
});
</script>


