<%form_for :cat, cat, :url => url, :html => {:method => method}  do |f| %>
  <div class="err-msg"> <%=cat.errors.on(:name)%> </div>
  <%="新建分类:" if method == :post%> <%=f.text_field :name%>
  <%unless parent_cat?(cat)%>
  归属于:<%=f.select :parent_id, options_for_cats%>
  <%end%>
  排序:<%=f.text_field :position%>
  <%=submit_tag  "确定"%>
  <%=link_to_function "取消", "cancel('#{cat.id}', '#{cat.name}')" if method == :put%>
<%end%>

<script type="text/javascript">
function cancel(id, name){
  var html = ""
  html += "<div id='cat-" + id + "'>  <div class='cat-action'>   [<a data-remote='true' data-method='get' href='/categories/" + id + "/edit'>修改</a> |" 
  html += "<a rel='nofollow' data-remote='true' data-method='delete' data-confirm='您确定删除吗？' href='/categories/" + id + "'>删除</a>]</div>"
  html += "<div class='cat-name'><span>" + name +  "</span></div></div>"
 
  $(html).replaceAll("#cat-" + id);
}
</script>

