<div class="list-head">
  <%= link_to '新建课程', "javascript:;", :class => "new-item" %>
  <h2>课程列表</h2>
</div>

<div class="list">
	<% @notes.each do |note| %>
		<div class="item">
		  <div class='ratingdiv'>
				<p class="item-operate">
				<%= link_to '查看', note %>
				<%= link_to '编辑', "javascript:;" %>
				<%= link_to '删除', "javascript:;" %>
				</p>
				
				<p>	
				  <%_href = note.star ? unstar_note_path(note.id) : star_note_path(note.id)%>	  
				  <%_class = note.star ? 'done' : 'undone'%>  
			    <a href="<%=_href%>" class="<%=_class%>" id='star_<%=note.id%>' onclick='return toggle_star(this);'></a>
			    <%= link_to note.title, note %>		    
				</p>	
		  </div>	  
		  <p><%= note.body%></p>	
	  		  
		</div>
	<% end %>
</div>

<style type='text/css'>
	.ratingdiv {overflow:hidden; background-color: #fff;}
	
	.ratingdiv .undone, .ratingdiv .done:hover {
		background:url("/images/star.gif") -30px 0 no-repeat;
		width:28px;
		display:block;
		height:30px;
		float:left;
		margin-right:4px;
		text-indent:-99999px
	}
	
	.ratingdiv .done {
		background:url("/images/star.gif") no-repeat;
		width:28px;
		display:block;
		height:30px;
		float:left;
		margin-right:4px;
		text-indent:-99999px
	}
	
	.ratingdiv .undone:hover {background-position:0}
</style>

<script type="text/javascript">
/*jQuery(document).ready(function (){
	jQuery('.ratingdiv .undone').click(function(){
		toggle_star(this);
		return false;
	});	
		
	jQuery('.ratingdiv .done').live('click' , function(){
	  toggle_star(this);
	  return false;
	});
		
});*/

function toggle_star(obj){
  var div = '#' + jQuery(obj).attr('id');	
	jQuery(div).html("<img src='/images/load.gif' />");		
	var link = jQuery(obj).attr('href');

	jQuery.ajax({
	  type: "POST",
	  url: link,
	  data: "",
	  success: function(msg){
	    var link = msg.split(",")[0];
	    var klass = msg.split(",")[1];
	    //jQuery(div).replaceWith(msg);
	    //若用替换链接，第三次点击链接会出错，onclick事件没添加
	    jQuery(div).attr("href", link);
	    jQuery(div).attr("class", klass);
	  }});
	return false;
}
</script>


