<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>ZendReader</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="columns"> 
	<div id="side">
    <%@feeds.each do |f|%>              
		  <a title="<%=raw f.title%>" class="<%=f.id==params[:feed_id].to_i ? "current" : "" %>" href="/rss/news?feed_id=<%=f.id%>"><%=raw f.title%></a><br />
    <%end%>
	</div>
	<div id="main"> 
    <%= yield %>   
	</div>
</div>

</body>

</html>
<style type="text/css">
a {
background-color: #dff0ed;
border: 1px solid #efe;
padding: 1px;
text-decoration: none;

}

.current{
  background-color: #deed1d;
}
</style>
