<div class="list-head">
  <%= link_to '新建课程', "javascript:;", :class => "new-item" %>
  <h2>课程列表</h2>
</div>

<div class="list">
	<% @courses.each do |course| %>
		<div class="item">
		  <p class="item-operate">
		  <%= link_to '查看', course %>
		  <%= link_to '编辑', "javascript:;" %>
		  <%= link_to '删除', "javascript:;" %>
		  </p>
		  <p><%= link_to course.name, course %></p>		  
		  <p><%= course.memo%></p>		  		  
		</div>
	<% end %>
</div>





